
.spinner {
    border: 6px solid #e5e7eb;
    border-top: 6px solid #3b82f6;
    border-radius: 9999px;
    width: 2.5rem;
    height: 2.5rem;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}


#stockChartImage {
    transition: opacity 0.3s ease;
}
